{%if qunit is undefined %}{% extends "layout.html" %}{% endif %}
{% block content %}
<div class="container-fluid">
        <h2>Browse Organizations</h2>
	<p>Select an organization from the list below to see more information about a specific
	organization.</p>
	<table class="table table-striped table-hover table-bordered">
	<thead>
	<tr><th>Organization Listing</th></tr>
	</thead>
	<tbody>
        	{% for org in data.OrgNames %}
		<tr>
			<td>
				<a href="/organization/{{org.org_entityfk}}">{{org.org_name}}</a>
			</td>
			<td>
				{% if current_user.is_authenticated() %}
					<button type="button" id="org_{{org.org_entityfk}}" onclick="join_org(this,{{org.org_entityfk}})" class="btn" data-loading-text="Joining..." data-complete-text="Joined!">
						Join this Organization!
					</button>
				{% else %}
					<button type="button" id="org_{{org.org_entityfk}}" onclick="join_org(this,{{org.org_entityfk}})" class="btn disabled" data-loading-text="Joining..." data-complete-text="Joined!" data-toggle="tooltip" title="You have to log in to do this!">
						Join this Organization!
					</button>
				{% endif %}
			</td>
		</tr>
  		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}