    <!-- User Control list generate base on user permission -->
                <ul class="nav nav-list nav-stacked">
                    <li class="nav-header">Browse</li>
                    <li><a href="/organization">Organizations</a></li>
                    <li class="disabled"><a href="#">Events</a></li>
                    <li class="disabled"><a href="#">Schedule</a></li>

                    <li class="divider"></li>
                    <li class="nav-header">Personal Preferences</li>
                    <li class="disabled"><a href="#">Availability</a></li>

                    <li class="divider"></li>
                    <li class="nav-header">Manage</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Organizations<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- links -->
                            <li><a href="/register_organization">Create Organization</a></li>
                            <li class="disabled"><a href="#">Edit Organization</a></li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu"> -->
                            <!-- links -->
                            <!-- <li><a href="/createEvent">Create Event</a></li>
                            <li class="disabled"><a href="#">Edit Event</a></li>

                            <li class="divider"></li>
                            <li class="nav-header">Shifts</li>
                            <li class="disabled"><a href="#">Create Shifts</a></li>
                            <li class="disabled"><a href="#">Edit Shifts</a></li>
                            <li class="disabled"><a href="#">Assign Shifts</a></li>

                            <li class="divider"></li>
                            <li class="nav-header">Schedule</li>
                            <li class="disabled"><a href="#">View Schedule</a></li>
                            <li class="disabled"><a href="#">Update Schedule</a></li>

                        </ul>
                    </li> -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- links -->
                            <li class="disabled"><a href="#">Edit User</a></li>
                        </ul>
                    </li>
                </ul>
