{# COMMENT: Insert the line below to every html start of render page to let qunit to include the content of the for testing which will exclude the layout.html page #}
{% if qunit is undefined %}{% extends "layout.html" %}{% endif %}

{% block content %}
        <div class="container">
            <h2>Create an Event</h2>
            <div class="well form-horizontal">
                <form id="create-event" onsubmit="return createJsonObject()" method="post">
                    <fieldset>
                        <legend>Basic Info</legend>
                        <label class="control-label" for="event_name">Name</label>
                        <div class="controls">
                            <input type="text" required name="event_name" placeholder="My Fun Event">
                        </div>
                        <label class="control-label" for="event_desc">Description</label>
                        <div class="controls">
                            <textarea id="event_desc" rows="3">We will do fun things.</textarea>
                        </div>
                        <label class="control-label" for="event_start">Event Start Date</label>
                        <div class="controls">
                            <input type="datetime-local" required name="event_start">
                        </div>
                        <label class="control-label" for="event_end">Event End Date</label>
                        <div class="controls">
                            <input type="datetime-local" required name="event_end">
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" />
                    </div>
                </form><!--/form-horizontal-->
            </div><!--/.row-fluid-->
        </div>
{% endblock %}
