{# COMMENT: Insert the line below to every html start of render page to let qunit to include the content of the for testing which will exclude the layout.html page #}
{% if qunit is undefined %}{% extends "layout.html" %}{% endif %}

{% block content %}
{% assets "common_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
{% assets "common_js" %}
        <script>
            $(function() {
                    $("#datepicker").datepicker();
                    $("#datepicker2").datepicker();
                });
        </script>
{% endassets %}
        <div class="container">
            <h2>Create an Event</h2>
            <div class="well form-horizontal">
                <form id="create-event" onsubmit="return createJsonObject()" method="post">
                    <fieldset>
                        <legend>Basic Info</legend>
                        <label class="control-label" for="event_name">Name</label>
                        <div class="controls">
                            <input type="text" required name="event_name" placeholder="Event Name">
                        </div>
                        <label class="control-label" for="event_desc">Description</label>
                        <div class="controls">
                            <textarea id="event_desc" rows="3"></textarea>
                        </div>
                        <label class="control-label" for="event_start">Event Start Date</label>
                        <div class="controls">
                            <input type="text" required name="event_start" id="datepicker">
                        </div>
                        <label class="control-label" for="event_start_time">Start Time</label>
                        <div class="controls">
                            <select>
                                <option value="7">7 AM</option>
                                <option value="8">8 AM</option>
                                <option value="9">9 AM</option>
                                <option value="10">10 AM</option>
                                <option value="11">11 AM</option>
                                <option value="12">12 PM</option>
                                <option value="13">1 PM</option>
                                <option value="14">2 PM</option>
                                <option value="15">3 PM</option>
                                <option value="16">4 PM</option>
                                <option value="17">5 PM</option>
                                <option value="18">6 PM</option>
                                <option value="19">7 PM</option>
                                <option value="20">8 PM</option>
                                <option value="21">9 PM</option>
                                <option value="22">10 PM</option>
                            </select>
                        </div>
                        <label class="control-label" for="event_end">Event End Date</label>
                        <div class="controls">
                            <input type="text" required name="event_end" id="datepicker2">
                        </div>
                        <label class="control-label" for="event_end_time">End Time</label>
                        <div class="controls">
                            <select>
                                <option value="7">7 AM</option>
                                <option value="8">8 AM</option>
                                <option value="9">9 AM</option>
                                <option value="10">10 AM</option>
                                <option value="11">11 AM</option>
                                <option value="12">12 PM</option>
                                <option value="13">1 PM</option>
                                <option value="14">2 PM</option>
                                <option value="15">3 PM</option>
                                <option value="16">4 PM</option>
                                <option value="17">5 PM</option>
                                <option value="18">6 PM</option>
                                <option value="19">7 PM</option>
                                <option value="20">8 PM</option>
                                <option value="21">9 PM</option>
                                <option value="22">10 PM</option>
                            </select>
                        </div>
                        <label class="control-label" for="event_shift_length">Shifts Length</label>
                        <div class="controls">
                            <select>
                                <option value="30">30 min</option>
                                <option value="60">1 hour</option>
                                <option value="90">1.5 hours</option>
                                <option value="120">2 hours</option>
                                <option value="180">2.5 hours</option>
                                <option value="240">3 hours</option>
                            </select>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" />
                    </div>
                </form><!--/form-horizontal-->
            </div><!--/.row-fluid-->
        </div>
{% endblock %}
