<!--reference that I used to create this page => https://github.com/mitsuhiko/flask/tree/master/examples/jqueryexample-->
{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
    // create json object and send it to server
    function createJsonObject()
    {
        $.getJSON($SCRIPT_ROOT + '/_submit_form',{
            username: $('input[name="username"]').val(),
            fname: $('input[name="fname"]').val(),
            lname: $('input[name="lname"]').val(),
            pwd1: $('input[name="pwd1"]').val(),
            phonenum: $('input[name="phonenum"]').val(),
            address: $('#address').val()

        },function(data)
        {
            // get a value which sent back from server
            alert("successfully submitted"
                    +"\n ***** Your Info *****"
                    +"\n user name: " + data.username
                    +"\n first name: " + data.fname
                    +"\n last name: " + data.lname
                    +"\n password: " + data.pwd1
                    +"\n phone number: " + data.phonenum
                    +"\n address: " + data.address);

        });
        return false;
    }
</script>

        <div class="well form-horizontal">
            <h2>Employee Registration Form</h2>
            <form id="employee-reg" action="" onsubmit="return createJsonObject()">
                <fieldset>

                    <legend>Basic Information</legend>
                    <div>
                        <label>User Name</label>
                    </div>
                    <div>
                        <input name="username" type="text" class="input-xlarge">
                    </div>
                    <div>
                        <label>First Name</label>
                    </div>
                    <div>
                        <input name="fname" type="text" class="input-xlarge">
                    </div>
                    <div>
                        <label>Last Name</label>
                    </div>
                    <div>
                        <input name="lname" type="text" class="input-xlarge">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Pick a password</legend>
                    <div>
                        <label>Password</label>
                    </div>
                    <div>
                        <input name="pwd1" type="password" class="input-xlarge">
                    </div>
                    <div>
                        <label>Re-Enter Password</label>
                    </div>
                    <div>
                        <input name="pwd2" type="password" class="input-xlarge">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Additional Information</legend>
                    <div>
                        <label>Phone Number</label>
                    </div>
                    <div>
                        <input name="phonenum" type="text" class="input-xlarge">
                    </div>
                    <div>
                        <label>Address</label>
                    </div>
                    <div>
                        <textarea id="address" name="address" rows="3" input="input-xlarge"></textarea>
                    </div>
                </fieldset>

                <br />

                <div>
                    <input class="btn btn-primary" type="submit" />
                </div>
            </form>
        </div>

{% endblock %}
