{# COMMENT: Insert the line below to every html start of render page to let qunit to include the content of the for testing which will exclude the layout.html page #}
{% if qunit is undefined %}{% extends "layout.html" %}{% endif %}
{% block content %}
<!-- Carousel 
================================================== -->
    <div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
				<img src="static/images/calendar.png" alt="">
				<div class="container">
					<div class="carousel-caption">
						<h1>Scheduling made easy!</h1>
						<p class="lead">Scheduling can be fun and easy</p>						
					    <p><a href="/signup" class="btn btn-primary btn-large">Try it Now! &raquo;</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="static/images/hand.png" alt="">
				<div class="container">
					<div class="carousel-caption">
						<h1>Save the forest!</h1>
						<p class="lead">No more stacks of papers, flipping through pages and pages of information</p>						
					    <p ><a href="/signup" class="btn btn-primary btn-large">Try it Now! &raquo;</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="static/images/watch.png" alt="">
				<div class="container">
					<div class="carousel-caption">
						<h1>Time saving!</h1>
						<p class="lead">More time to do other important things</p>						
					    <p><a href="/signup" class="btn btn-primary btn-large">Try it Now! &raquo;</a></p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
{% endblock %}