{% extends "layout.html" %}
{% block body %}
        <h2>Register Organization</h2>
        <div class="well form-horizontal">
            <form id="organization-reg" onsubmit="return createJsonObject()" method="post">
                <fieldset>
                    <legend>Basic Info</legend>
                    <label class="control-label" for="org_name">Name</label>
                    <div class="controls">
                        <input type="text" name="org_name" placeholder="The Awesome Company">
                    </div>
                    <label class="control-label" for="org_desc">Description</label>
                    <div class="controls">
                        <textarea id="org_desc" rows="3">We make cool things.</textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Contact Info</legend>
                    <label class="control-label" for="address1">Address</label>
                    <div class="controls">
                        <input type="text" name="address1" placeholder="123 Neat Street">
                    </div>
                    <div class="controls">
                        <input type="text" name="address2" placeholder="">
                    </div>
                    <div class="controls">
                        <input type="text" name="address3" placeholder="">
                    </div>
                    <label class="control-label" for="city">City</label>
                    <div class="controls">
                        <input type="text" name="city" placeholder="Coolsville">
                    </div>
                    <label class="control-label" for="province">Province</label>
                    <div class="controls">
                        <input type="text" name="province" placeholder="Manitoba">
                    </div>
                    <label class="control-label" for="country">Country</label>
					<div class="controls">
						<input type="text" name="country" placeholder="Canada">
                    </div>
                    <label class="control-label" for="postalcode">Postal Code</label>
                    <div class="controls">
                        <input type="text" name="postalcode" placeholder="Q1W 2E3">
                    </div>
                    <label class="control-label" for="phone">Phone</label>
					<div class="controls">
						<input type="text" name="phone" placeholder="000-123-456-7890">
                    </div>
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" name="email" placeholder="awesomeco@awesomeco.ca">
                    </div>
                </fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </form><!--/form-horizontal-->
        </div><!--/.row-fluid-->
{% endblock %}